.mainchat
  .mainchat_header
    .mainchat_header__leftbox
      %h3.mainchat_header__leftbox-title
        = @group.name
      %ul.mainchat_header__leftbox-members
        Member : 
        - @group.users.each do |user|
          = user.name

    .mainchat_header__edit
      = link_to edit_group_path(@group) do 
        Edit

  .mainchat_message
    .mainchat_message__date
      .messages
        = render @messages

  .mainchat_form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "new_message", placeholder: "type a message"
        = f.label :image, class: "input-box__img" do
          =icon('fas', 'image')
          = f.file_field :image, class: "input-box__file"
      .mainchat_form__submit-btn
        = f.submit 'Send', class: "submit-btn"
